* text=auto

*.css text eol=lf
*.html text eol=lf
*.js text eol=lf
*.json text eol=lf
*.jsx text eol=lf
*.md text eol=lf
*.mjs text eol=lf
*.ps1 text eol=lf
*.toml text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.yaml text eol=lf
*.yml text eol=lf

*.avif binary
*.gif binary
*.ico binary
*.jpeg binary
*.jpg binary
*.mov binary
*.mp4 binary
*.png binary
*.webm binary
*.webp binary
*.zip binary
